@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css";

@font-face {
    font-family: idroid;
    src: url("../fontes/idroid.otf") format(opentype);
    font-weight: normal;
}

:root {
    --cor1: #ffd000;
    --cor2: #8c6a03;
    --cor3: #f2f2f2;
    --cor4: #848484;
    --cor5: #0d0d0d;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-idroid: "idroid", sans-serif;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

html {
    background-color: rgb(17, 17, 17);
}

nav {
    background-color: var(--cor5);
    color: white;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
}

header nav > div#logo {
    padding-right: 20vw;
}

header nav > div#logo > a > img {
    width: 120px;
    max-width: 120px;
}

header nav > div#nav-links {
    display: flex;
    align-items: center;
}

header  nav > div#nav-links > a {
    color: var(--cor3);
    font-weight: bold;
    padding: 26px;
    margin: 0px;
    text-decoration: none;
    transition-duration: 0.3s;
}

header nav > div#nav-links > a:hover {
    background-color: var(--cor1);
    color: var(--cor5);
    transition: 0.3s ease;
    
}

header nav > div#pesquisar {
    display: flex;
    align-items: center;
    padding-left: 20vw;
}

header nav > div#pesquisar > a > img {
    width: 32px;
}

header nav > div#pesquisar > a > img:hover {
    transform: scale(0.9);
    transition: 0.5s ease;
}

main {
    padding: 20px;
    display: flex;
}

main > section.colEsq > div#coluna-esquerda {
    background-color: var(--cor3);
    font-size: 20px;
    padding: 20px;
    width: 180px;
    border: 2px solid rgba(0, 0, 0, 0.174);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section.colEsq > div#coluna-esquerda > p {
    padding: 10px 35px;
}

section.colEsq > div#coluna-esquerda > a {
    color: var(--cor5);
    padding: 10px;
    text-decoration: none;
}

section.colEsq > div#coluna-esquerda > a:hover{
    background-color: rgba(0, 0, 0, 0.895);
    color: white;
    padding-right: unset(100%);
    display: flex;
    transition: 0.5s ease;
    border-radius: 10px;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.448);
}



section.cars {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.civic, div.fox {
    width: 300px;
    height: 374px;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    border-radius: 10px 30px 10px 30px;
    margin: 0px;
    margin-left: 30px;
}

div.civic img, div.fox img{
    width: 300px;
    height: 374px;
    border-radius: 10px 30px 10px 30px;
    transition: transform 0.7s ease-in-out;
}

div.civic img:hover, div.fox img:hover{
    transform: scale(1.02);
}

div.texto, div.texto {
    top: 5px;
    left: 30px;
    width: 280px;
    border-radius: 10px 30px 0px 0px;
    font-size: 30px;
    opacity: 0;
    position: absolute;
    color: white;
    padding: 10px;
    transition: 0.9s ease;
}

div.civic:hover .texto, div.fox:hover .texto {
    opacity: 1;
    transform: translateY(30%);
}